/* Global Styles */
body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link {
    color: #07b50a;
}


/* Banner Styles */
.banner {
    background: url('./images/banner.png') no-repeat center center;
    background-color: #22212133;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner-text {
    padding: 20px;
}

.transparent-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: #fff;
}

/* Section Headers */
.section-header {
    padding: 1em;
}

/* Card Styles */
.card-title {
    font-weight: bold;
}

.card-img-top {
    height: 180px;
    width: 100%;
    object-fit: contain;
    padding: 12px;
    border-radius: 8px;
}

.portfolio-card {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.portfolio-card .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.portfolio-card .card-title {
    height: 48px;
    overflow: hidden;
}

.portfolio-card .card-text {
    height: 120px;
    overflow: hidden;
}

.portfolio-card .tags {
    height: 104px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    background-color: #f8f9fa;
    margin-top: auto;
}

.portfolio-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

/* Section Styles */
.portfolio, .about, .social-content {
    padding: 5rem 0;
    margin-top: 70px;
}

.portfolio-header {
    padding: 3rem 0;
    background-color: #f8f9fa;
    margin-top: 70px;
}

.portfolio-header-image {
    max-height: 180px;
    max-width: 300px;
    object-fit: contain;
}

.about {
    background-color: #f2f4f7;
}

.about-grid-item img,
.grid-item img {
    width: 100%;
    height: auto;
}


/* Social Icon Styles */
.social-icon {
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

#social .container.d-flex.justify-content-center {
    margin-bottom: 40px;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #4ba143;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .about-text, .about-image {
        flex: 1 1 100%;
        text-align: center;
    }
}

/* Tag Color */
.badge-green {
    background-color: #4ba143 !important;
    color: white;
}

/* Icon Color */
.bi {
    color: #414142;
}
